
.container {
    width: 1200px;
    margin: 0 auto;
    background-color: gainsboro;
}


.lorem {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    font-size: 20px;
    color: black;
}